name: run AVPLE

on:
  workflow_dispatch:
    inputs:
      target_url:
        description: 'URL'
        required: true
  #schedule:
  #  - cron: "0 */6 * * *"

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install gdown requests beautifulsoup4 lxml

      - name: Download Script
        env:
          FILE_URL: ${{ secrets.AVPLE }}   
        run: gdown "$FILE_URL" -O script.py

      - name: Run Script
        env:
          # รับ URL จาก Input หรือจาก Secret ถ้าเป็นการรันแบบ Auto
          TARGET_URL: ${{ github.event.inputs.target_url || secrets.DEFAULT_TARGET_URL }}
        run: python script.py